body {
    background-color: #ffffff;
}

nav {
    background-color: #26282B;
    padding: 15px 0;
    margin: 0px 40px 10px 40px;
    font-family: 'Sora', sans-serif;
    border-radius: 8px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

.navbar li {
    margin: 0 15px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.navbar li a:hover {
    background-color: #5F85DB;
    border-radius: 5px; 
}

.header {
    padding: 10px;
    text-align: center;
    background: #26282B;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 0px 40px 0px 40px;
    font-family: 'Sora', sans-serif;
    border-radius: 8px;
    /* background: linear-gradient(135deg, #353941, #565f75); */
}

.team {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px; 
    margin-top: 30px;
    flex-wrap: wrap;
}

.team_heading {
    font-family: 'Sora', sans-serif;
}

.member {
    width: 300px;
    text-align: center;
}

.member img {
    width: 300px;
    height: 300px; 
    object-fit: cover; 
    object-position: 80% 20%;
    margin-bottom: 10px;
    border-radius: 8px;
    display: block;
}

.member:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.team, .member h3 {
    font-family: 'Sora', sans-serif;
    margin-top: 15px;
    font-size: 24px;
}

.team, .member p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    color: #393535;
}

.mission-vision {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.mission {
    flex: 1;
    padding: 20px;
    background-color: #353941;
    margin: 40px 15px 0px 40px;
    border: #26282B solid 1px;
    border-radius: 8px;
}

.vision {
    flex: 1;
    padding: 20px;
    background-color: #353941;
    margin: 40px 40px 0px 15px;
    border: #26282B solid 1px;
    border-radius: 8px;
}

.purpose {
    flex: 1;
    padding: 20px;
    background-color: #353941;
    margin: 40px 40px 0px 40px;
    border: #26282B solid 1px;
    border-radius: 8px;
}

/* .mission, .vision, .purpose {
    background: linear-gradient(135deg, #353941, #565f75);
} */

.mission h2, .vision h2, .purpose h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-family: 'Sora', sans-serif;
}

.mission p, .vision p, .purpose p {
    text-align: justify;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .mission-vision {
        display: block;
    }

    .mission, .vision {
        margin-bottom: 20px;
    }
}

.footer {
    padding: 10px;
    margin: 25px 40px 0px 40px;
    text-align: center;
    background: #26282B;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Sora', sans-serif;
    border-radius: 8px;
}

/* @keyframes fadeIn {   //Animation vir load van page
    from { opacity: 0; }
    to { opacity: 1; }
}

.header, .mission, .vision, .purpose, .team, .team_heading {
    animation: fadeIn 1.5s ease-in-out;
} */

h2 {
    color: #26282B;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-align: center;
    margin-top: 10px;
}

p {
    font-size: 18px;
    margin: 10px;
}

/* #353941
#26282B
#5F85DB
#90B8F8

Sora
Montserret  */
