/* Add a background to the form section */
.contact-us {
    background-image: url('/images/Contact_BG.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 12px;
    max-width: 900px;
    width: 100%;
}


.contact-info {
    flex: 1;
    margin-right: 40px;
}

.contact-info h1 {
    font-family: 'Sora', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

.contact-info p {
    font-family: 'Montserrat', sans-serif;
    color: #555;
    line-height: 1.8;
    margin-bottom: 20px;
}


.contact-info p:last-of-type {
    margin-bottom: 80px;
}

/* Right Section - Form */
form {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

form label {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}


form input::placeholder,
form textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #888; 
}


form button {
    background-color: #5f85db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #003399;
}


@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .contact-info {
        margin-right: 0;
        margin-bottom: 20px;
    }

    form {
        width: 100%;
    }
}
