
.timetable {
    padding: 20px;
    text-align: center;
}

.timetable h1 {
    font-family: 'Sora', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

.timetable table {
    width: 100%;
    border-collapse: collapse;
}

.timetable th, .timetable td {
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
}

.timetable th {
    background-color: #5F85DB;
    color: #fff;
}

.timetable td {
    background-color: #f5f5f5;
}
